{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}

{% trans "Forgot your Admin Password? Please click link to set a new password:" %}
{{ protocol }}://{{ domain }}/{{ url }}

{% trans "Link is valid for 72 hrs. Thank you!" %}

{% endblock text_body %}

{% block html_body %}
<p>{% trans "Forgot your Admin Password? Please click link to set a new password:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>

<p>{% trans "Link is valid for 72 hrs. Thank you!" %}</p>
{% endblock html_body %}
