{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Dota2GA Admin Password Reset</title>

        <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/pace.css' %}">
        <script src="{% static 'users/js/pace.min.js' %}"></script>
        <script src="{% static 'users/js/axios.min.js' %}"></script>
    </head>
    <body>
        <div class="login-wrapper">
            <div class="login-logo">
                <img src="{% static 'users/images/addu-logo.png' %}">
            </div>
            <div class="login">
                <h2>Reset Password</h2>
                <p>Please create a secure password.</p>
                <div class="login-form">
                <form onsubmit="onSubmit(event)">
                    <input type="hidden" name="uid" value="{{ uid }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="login-group">
                        <input type="password" name="new_password" placeholder="New Password" class="login-text">
                    </div>
                    <div class="login-group">
                        <input type="password" name="re_new_password" placeholder="Confirm Password" class="login-text">
                    </div>
                    <div id="errors"></div>
                    <div class="login-group">
                        <ul>
                            <li>* Your password can't be entirely numeric.</li>
                            <li>* Your password must contain at least 8 characters.</li>
                            <li>* Your password can't be a commonly used password.</li>
                            <li>* Your password can't be too similar to your other personal information.</li>
                        </ul>
                    </div>
                    <div class="login-group">
                        <button class="btn-submit">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <script>
        function onSubmit(e) {
            e.preventDefault();
            Pace.start();
            axios.post(
                "{% url 'password_reset_confirm' %}",
                new FormData(document.querySelector('form')),
                {timeout: 10000},  // Timeout at 10s.
            ).then(function (response) {
                window.location.href = "{% url 'password_reset_confirm_success' %}";
            }).catch(function (error) {
                var errors = '<p>Something went wrong.</p>';
                if (error.response) {
                    for (const d in error.response.data) {
                        errors = `<p>${error.response.data[d]}</p>`;
                        break;  // Just get first error.
                    }
                }
                document.getElementById('errors').innerHTML = errors;
            }).then(function () {
                Pace.stop();
            });
        }
        </script>
    </body>
 </html>

